body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 800px;
    margin: 20px auto;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgb(149, 146, 146);
}
#clock{
    background-color: rgb(35, 32, 32);
    padding: 20px;
    margin: 20px 0px;
    color: rgb(252, 4, 128);
    display: block;
    font: 48px monospace;
    text-align: center;
    box-shadow: 1px 1px 10px 5px rgb(149, 146, 146);
}